 .about__headline {
     min-height: 256px;
     background: linear-gradient(90deg, #E8FAFA 0%, #DCF2E8 100%);

     .patients__headline--inner {
         max-width: 1130px;
         margin: 0 auto;
         padding: 0 10px;

         .patients__inner--links {
             display: flex;
             align-items: center;
             gap: 8px;
             padding-top: 57px;

             .patients__links--link {
                 color: #797C80;

                 /* мини */
                 font-family: Manrope;
                 font-size: 14px;
                 font-style: normal;
                 font-weight: 400;
                 line-height: 20px;
                 /* 142.857% */
             }

         }

         .patients__inner--title {
             color: #292D33;
             margin-top: 5px;
             /* H2 */
             font-family: Manrope;
             font-size: 48px;
             font-style: normal;
             font-weight: 700;
             line-height: 56px;
             /* 116.667% */
         }

         .patients__inner--pages {
             margin-top: 45px;
             display: flex;
             align-items: center;
             gap: 20px;
             max-width: 400px;
             width: 100%;
             border-radius: 20px;
             background: #F7F7F7;
             box-shadow: 0px 0px 3px 0px rgba(13, 61, 46, 0.40) inset;
             height: 48px;

             .patients__pages--link {
                 padding-left: 15px;
                 color: #797C80;
                 text-align: center;
                 font-family: Manrope;
                 font-size: 16px;
                 font-style: normal;
                 font-weight: 700;
                 line-height: 24px;

                 /* 150% */
                 &.active {
                     border-radius: 16px;
                     background: #1DC3B0;
                     color: #FFF;
                     height: 40px;
                     margin: 4px;
                     padding: 7px 10px;
                     max-width: 198px;
                     width: 100%;
                 }
             }

             .patients__pages--link2 {
                 padding-right: 24px;
                 color: #797C80;
                 text-align: center;
                 font-family: Manrope;
                 font-size: 16px;
                 font-style: normal;
                 font-weight: 700;
                 line-height: 24px;

                 /* 150% */
                 &.active {
                     width: 145px;
                     border-radius: 16px;
                     background: #1DC3B0;
                     color: #FFF;
                     height: 40px;
                     margin: 4px;
                     padding-right: 0;
                     padding: 7px 5px;
                 }
             }

             .patients__pages--link3 {
                 padding-right: 24px;
                 color: #797C80;
                 text-align: center;
                 font-family: Manrope;
                 font-size: 16px;
                 font-style: normal;
                 font-weight: 700;
                 line-height: 24px;

                 &.active {
                     width: 102px;
                     border-radius: 16px;
                     background: #1DC3B0;
                     color: #FFF;
                     height: 40px;
                     margin: 4px;
                     padding-right: 0;
                     padding: 7px 5px;
                 }
             }
         }
     }
 }

 .info {
     background: #F5FBFC;
     padding-bottom: 160px;

     .info__inner {
         max-width: 1135px;
         width: 100%;
         margin: 0 auto;

         padding: 0 10px;

         .headline {
             padding-top: 68px;
             color: #292D33;
             max-width: 800px;
             width: 100%;
             /* Крупный подзаголовок */
             font-family: Manrope;
             font-size: 26px;
             font-style: normal;
             font-weight: 400;
             line-height: 36px;
             /* 138.462% */
         }

         .content {
             margin-top: 19px;
             color: #292D33;
             max-width: 800px;
             width: 100%;
             /* Text */
             font-family: Manrope;
             font-size: 17px;
             font-style: normal;
             font-weight: 400;
             line-height: 28px;
             /* 164.706% */
         }

         .info__img {
             margin-top: 53px;
             object-fit: cover;
             max-width: 824px;
             width: 100%;
         }

         .content__title {
             color: #292D33;
             margin-top: 51px;
             /* H3 */
             font-family: Manrope;
             font-size: 30px;
             font-style: normal;
             font-weight: 700;
             line-height: 35px;
             /* 116.667% */
         }

         .swiper__about {
             position: relative;
             margin-top: 42px;

             .swiper-slide {
                 max-width: 266px;
                 height: 376px;
                 width: 100%;
                 border-radius: 8px;
                 background: #FFF;
                 box-shadow: 0px 4px 20px 0px rgba(26, 57, 63, 0.10);

                 img {
                     width: 100%;
                     object-fit: cover;
                 }
             }

             .ellipse1 {
                 position: absolute;
                 height: 424px;
                 transform: translate(-50%, -50%);
                 top: 50%;
                 left: 30px;
                 width: 15px;
             }

             .ellipse2 {
                 position: absolute;
                 height: 424px;
                 transform: translate(-50%, -50%);
                 top: 50%;
                 right: 20px;
                 width: 15px;
             }

             .swiperabout-button-prev {
                 position: absolute;
                 top: 0;
                 left: 0;
                 height: 100%;
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 z-index: 10;
                 background: #F5FBFC;
             }

             .swiperabout-button-next {
                 border: none;
                 position: absolute;
                 top: 0;
                 right: 0;
                 height: 100%;
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 z-index: 10;
                 background: #F5FBFC;

             }

         }
     }
 }

 @media (max-width: 850px) {
     .info .info__inner .swiper__about .swiper-slide {
         max-width: 100%;
     }
 }

 @media (max-width: 430px) {
     .info .info__inner .swiper__about .swiperabout-button-next {
         display: none;
     }

     .info .info__inner .swiper__about .swiperabout-button-prev {
         display: none;
     }
 }