.appointment {
    max-width: 608px;
    width: 100%;
    min-height: 880px;
    height: 100%;
    border-radius: 26px;
    background: aliceblue;
    margin: 0 auto;

    .appointment__inner {
        max-width: 470px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
        height: auto;

        .appointment__inner--title {
            color: #292D33;
            padding-top: 50px;
            /* H2 */
            font-family: Manrope;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 56px;
            /* 116.667% */
        }

        .appointment__inner--avatar {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding-top: 30px;

            .appointments__avatar--item {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .appointment__inner--text {
                    color: #51555A;

                    /* Кнопка */
                    font-family: Manrope;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;
                    /* 150% */
                }

                input {
                    border-radius: 4px;
                    border: 1px solid #CFDFE5;
                    background: #FFF;
                    width: 284px;
                    height: 40px;
                }
            }
        }

        .appointment__inner--buttons {
            display: flex;
            gap: 43px;
            align-items: center;
            padding-top: 24px;

            .appointment__inner--text {
                color: #51555A;

                /* Кнопка */
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                /* 150% */
            }

            .appointment__buttons--buttons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                justify-content: center;
                max-width: 200px;
                width: 100%;
                height: 48px;
                border-radius: 20px;
                background: #F7F7F7;
                box-shadow: 0px 0px 3px 0px rgba(13, 61, 46, 0.40) inset;



                .appointment__buttons--strogino {
                    color: var(--Text3, #797C80);
                    text-align: center;
                    border: none;
                    background: none;
                    /* Кнопка */
                    font-family: Manrope;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;

                    /* 150% */
                    &.active {
                        max-width: 118px;
                        width: 100%;
                        border-radius: 16px;
                        background: #1DC3B0;
                        height: 40px;
                        margin: 4px;
                        color: #FFF;
                    }
                }

                .appointment__buttons--donskoyi {
                    color: var(--Text3, #797C80);
                    text-align: center;
                    border: none;
                    background: none;
                    /* Кнопка */
                    font-family: Manrope;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;

                    /* 150% */
                    &.active {
                        max-width: 118px;
                        width: 100%;
                        border-radius: 16px;
                        background: #1DC3B0;
                        height: 40px;
                        margin: 4px;
                        color: #FFF;
                    }
                }
            }
        }

        .appointment__inner--data {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 8px;

            .appointment__inner--text {
                color: #51555A;

                /* Кнопка */
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;

                /* 150% */

            }

            input {
                border-radius: 4px;
                border: 1px solid #CFDFE5;
                background: #FFF;
                width: 284px;
                height: 40px;
            }
        }

        .appointment__inner--pet {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 24px;

            .appointment__pet--info {
                display: flex;
                flex-direction: column;
                gap: 2px;

                .appointment__inner--text {
                    color: #51555A;

                    /* Кнопка */
                    font-family: Manrope;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;
                    /* 150% */
                }

                .appointment__inner--text2 {
                    color: #797C80;

                    /* мини */
                    font-family: Manrope;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    /* 142.857% */
                }

            }

            input {
                border-radius: 4px;
                border: 1px solid #CFDFE5;
                background: #FFF;
                width: 284px;
                height: 40px;
            }
        }

        .appointment__inner--message {
            padding-top: 30px;

            .appointment__message--text {
                color: #797C80;

                /* мини */
                font-family: Manrope;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;

                /* 142.857% */
                .text__bold {
                    color: #51555A;

                    /* Кнопка */
                    font-family: Manrope;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;
                    /* 150% */
                }
            }

            textarea {
                margin-top: 10px;
                border-radius: 4px;
                border: 1px solid #CFDFE5;
                background: #FFF;
            }
        }

        .appointment__inner--agree {
            padding-top: 46px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .checkbox-container {
                display: flex;
                gap: 11px;

                label {
                    max-width: 240px;
                    color: #51555A;
                    font-family: Manrope;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18px;
                    /* 128.571% */
                }
            }

            .appointment__agree--btn {
                border-radius: 15px;
                background: #1DC3B0;
                width: 160px;
                height: 48px;
                color: #FFF;
                text-align: center;
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                border: none;
                /* 150% */
            }
        }
    }
}