.main-someService {
    // margin: auto;
    // max-width: 1620px;
    // background-color: #DCF2E8;
    padding-left: 20px;
    padding-right: 20px;

    .someService-section-1 {
        margin: auto;
        max-width: 1112px;
        padding-top: 57px;

        .someService-link-container {
            .someService-link-container-active {
                color: #797C80;
                font-family: 'Manrope';
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                margin-right: 5px;
            }

            svg {
                margin-right: 2px;
            }

            .someService-link-container-gray {
                color: #BFBFBF;
                font-family: 'Manrope';
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
            }
        }

        .someService-title {
            color: #292D33;
            font-family: 'Manrope';
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 56px;
            margin-top: 5px;
            letter-spacing: 0px;
        }

        @media (max-width: 768px) {
            .someService-title {
                font-size: 32px;
            }
        }
    }

    .someService-section-2 {
        margin: auto;
        max-width: 1112px;
        padding-top: 46px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .main-img-section-2 {
            max-width: 100%;
            height: auto;
            padding-bottom: 20px;
        }

        .someService-section-2-btn-con {
            display: flex;
            flex-direction: column;
            padding-right: 30px;
            padding-left: 10px;

            a {
                width: 218px;
                height: 48px;
                border-radius: 16px;
                margin-bottom: 16px;
                color: #FFF;
                text-align: center;
                font-family: 'Manrope';
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: transform 0.3s ease-in-out;

                &:hover{
                    transform: scale(1.1);
                }

            }

            .meetBtn {
                background-color: #1DC3B0;
                transition: transform 0.3s ease-in-out;

                &:hover{
                    transform: scale(1.1);
                }
            }

            .showPrice {
                border: 2px solid #1DC3B0;
                color: #000;

                transition: transform 0.3s ease-in-out;

                &:hover{
                    transform: scale(1.1);
                }
            }
        }

    }

    @media (max-width: 1121px) {

        .someService-section-2 {
            // justify-content: space-around;

            .someService-section-2-btn-con {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                // justify-content: space-around;
                padding-right: 0px;
                padding-left: 0px;

                .meetBtn {
                    margin-right: 10px;
                }
            }
        }
    }



    .someService-section-3 {
        margin: auto;
        max-width: 1112px;
        padding-top: 16px;

        .someService-art-1 {
            max-width: 824px;
            color: #292D33;
            font-family: 'Manrope';
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            line-height: 36px;
        }

        .someService-art-2 {
            max-width: 824px;
            color: #292D33;
            font-family: 'Manrope';
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            margin-top: 20px;
        }

        .someService-art-3 {
            max-width: 824px;

            .someService-art-title {
                color: #292D33;
                font-family: 'Manrope';
                font-size: 30px;
                font-style: normal;
                font-weight: 700;
                line-height: 35px;
                margin-top: 44px;
            }

            .someService-art-paragraph {
                color: #292D33;
                font-family: 'Manrope';
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
                margin-top: 21px;
            }

            ul {
                margin-left: 24px;
                margin-top: 20px;

                li {
                    color: #292D33;
                    font-family: 'Manrope';
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                }
            }
        }

        .someService-art-4 {
            .someService-art-title {
                margin-top: 43px;
            }
        }

        .someService-art-5 {
            .someService-art-title {
                margin-top: 42px;
            }
        }

    }

    @media (max-width: 485px) {
        .someService-section-3 {

            .someService-art-1 {
                font-size: 20px;
                line-height: 26px;
            }

            .someService-art-2 {
                font-size: 14px;
                line-height: 20px;
                margin-top: 20px;
            }

            .someService-art-3 {

                .someService-art-title {
                    font-size: 26px;
                    line-height: 25px;
                    margin-top: 20px;
                }

                .someService-art-paragraph {
                    font-size: 14px;
                    line-height: 20px;
                    margin-top: 15px;
                }

                ul {
                    margin-left: 10px;
                    margin-top: 20px;

                    li {
                        font-size: 14px;
                        line-height: 23px;
                    }
                }
            }

            .someService-art-4 {
                .someService-art-title {
                    margin-top: 20px;
                }
            }

            .someService-art-5 {
                .someService-art-title {
                    margin-top: 20px;
                }
            }

        }
    }


    .someService-section-4 {
        margin: auto;
        max-width: 1112px;
        padding-top: 65px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .someService-price-con {
            max-width: 536px;
            border-radius: 8px;
            background: linear-gradient(90deg, #E8FAFA 0%, #DCF2E8 100%);
            padding: 34px 56px 55px 56px;

            .someService-price-con-title {
                color: #292D33;
                font-family: 'Manrope';
                font-size: 30px;
                font-style: normal;
                font-weight: 700;
                line-height: 35px;
                letter-spacing: -0.2px;
            }

            .someService-price-con-about {
                color: #51555A;
                font-family: 'Manrope';
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                margin-top: 7px;
                padding-bottom: 19px;
                border-bottom: 1px solid #CFDFE5;
                margin-bottom: 13px;
            }

            .someService-name-price {
                margin-top: 12px;
                display: flex;
                justify-content: space-between;


                .someService-name-procedur {
                    max-width: 344px;
                    color: #292D33;
                    font-family: 'Manrope';
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }

                .someService-price-procedur {
                    color: #292D33;
                    font-family: 'Manrope';
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    margin-left: 20px;
                }
            }
        }


        @media (max-width: 1140px) {
            .someService-price-con {
                max-width: 100%;

                .someService-name-price {
                    .someService-name-procedur {
                        max-width: 100%;
                    }
                }


            }
        }

        .someService-price-text-info {
            max-width: 536px;
            color: #1DC3B0;
            font-family: 'Manrope';
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            line-height: 36px;
            margin-top: 36px;
            margin-left: 10px;
        }
    }

    @media (max-width: 485px) {
        .someService-section-4 {
            padding-top: 40px;

            .someService-price-con {
                padding: 20px 15px 20px 15px;

                .someService-price-con-title {
                    color: #292D33;
                    font-family: 'Manrope';
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 35px;
                    letter-spacing: -0.2px;
                }

                .someService-name-price {

                    .someService-name-procedur {
                        font-size: 14px;
                        line-height: 18px;
                    }

                    .someService-price-procedur {
                        font-size: 14px;
                    }
                }
            }

            .someService-price-text-info {
                font-size: 20px;
                line-height: 24px;
            }
        }
    }

    .someService-section-5 {
        margin: auto;
        max-width: 1112px;
        padding-top: 91px;
        padding-bottom: 107px;

        .someService-section-5-top {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;


            h1 {
                color: #292D33;
                font-family: 'Manrope';
                font-size: 30px;
                font-style: normal;
                font-weight: 700;
                line-height: 35px;
                margin-bottom: 10px;
            }

            .someService-hospital-btn-con {
                display: flex;
                width: 236px;
                height: 48px;
                justify-content: space-between;
                box-shadow: 0px 0px 3px 0px rgba(13, 61, 46, 0.40) inset;
                padding: 4px;
                border-radius: 20px;

                button {
                    width: 118px;
                    height: 40px;
                    border-radius: 16px;
                    text-align: center;
                    font-family: 'Manrope';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;
                    border: none;

                    &:hover {
                        cursor: pointer;
                    }

                    transition: transform 0.3s ease-in-out;

                    &:hover{
                        transform: scale(1.05);
                    }
                }



                .btn-active {
                    color: #FFF;
                    background-color: #1DC3B0;
                }

                .btn-nonactive {
                    width: 110px;
                    color: #797C80;
                    background-color: none;
                }
            }

        }

        .someService-swipers-con {
            margin-top: 0px;
            position: relative;

            .custom-navigation-someService {
                width: 110.8%;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 49.7%;
                left: 50%;
                background-color: rgba(197, 123, 26, 0);
                display: flex;
                justify-content: space-between;

                .custom-prev-button {
                    background-color: rgba(197, 123, 26, 0);
                    color: #fff;
                    padding: 10px 20px;
                    border: none;
                    cursor: pointer;
                }

                .custom-next-button {
                    background-color: rgba(197, 123, 26, 0);
                    color: #fff;
                    padding: 10px 20px;
                    border: none;
                    cursor: pointer;
                }
            }

            .someService-swiper1,
            .someService-swiper2 {
                width: 100%;
                height: 592px;
                padding-top: 44px;
                position: relative;
                overflow: hidden;

                .shadow1 {
                    position: absolute;
                    height: 100%;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: -1%;
                }

                .shadow2 {
                    position: absolute;
                    height: 100%;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 101%;
                }

                .swiper-strogino,
                .swiper-donskoi {
                    width: 100%;
                    height: 100%;

                    .swiper-wrapper {
                        .swiper-slide {

                            .card-specialist {
                                width: 344px;
                                height: 494px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;

                                .top-card-specialist {
                                    img {
                                        height: 400px;
                                    }
                                }

                                .bot-card-specialist {
                                    .bot-card-name {
                                        color: #292D33;
                                        font-family: 'Manrope';
                                        font-size: 20px;
                                        font-style: normal;
                                        font-weight: 700;
                                        line-height: 24px;
                                        max-width: 320px;
                                        margin-top: 13px;
                                    }

                                    .bot-card-job {
                                        color: #51555A;
                                        font-family: 'Manrope';
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 24px;
                                        margin-top: 6px;
                                    }
                                }
                            }
                        }
                    }

                }
            }

            .someService-swiper2 {
                display: none;
            }

        }
    }


    @media (max-width: 1200px) {
        .someService-section-5 {
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 0px;
            margin-bottom: -150px;
            .someService-swipers-con {
                .custom-navigation-someService {
                    width: 100vw;
                }

                .someService-swiper1,
                .someService-swiper2 {
                    width: 100%;
                    height: 592px;
                    padding-top: 44px;
                    position: relative;
                    overflow: hidden;
                    margin-top: 0px;

                    .shadow1 {
                        position: absolute;
                        height: 100%;
                        transform: translate(-50%, -50%);
                        top: 50%;
                        left: -1%;
                    }

                    .shadow2 {
                        position: absolute;
                        height: 100%;
                        transform: translate(-50%, -50%);
                        top: 50%;
                        left: 101%;
                    }

                    .swiper-strogino,
                    .swiper-donskoi {
                        width: 100%;
                        height: 100%;

                        .swiper-wrapper {
                            .swiper-slide {
                                display: flex;
                                justify-content: center;
                            }
                        }

                    }
                }
            }


        }
    }

    @media (max-width: 600px) {
        .someService-section-5 {
            padding-left: 0px;
            padding-right: 0px;

            .someService-swipers-con {
                .custom-navigation-someService {
                    display: none;
                }

                .someService-swiper1,
                .someService-swiper2 {
                    width: 100%;
                    height: 592px;
                    padding-top: 44px;
                    position: relative;
                    overflow: hidden;

                    .shadow1 {
                        display: none;
                    }

                    .shadow2 {
                        display: none;
                    }

                    .swiper-strogino,
                    .swiper-donskoi {
                        width: 100%;
                        height: 100%;

                        .swiper-wrapper {
                            .swiper-slide {
                                display: flex;
                                justify-content: center;
                            }
                        }

                    }
                }
            }


        }
    }

    @media (max-width: 410px) {
        .someService-section-5 {
            .someService-section-5-top {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;


                h1 {
                    font-size: 24px;
                }

            }

            .someService-swipers-con { 
                .someService-swiper1,
                .someService-swiper2 {
                    width: 100%;
                    height: 592px;
                    padding-top: 44px;
                    position: relative;
                    overflow: hidden;
    
                    .swiper-strogino,
                    .swiper-donskoi {
                        width: 100%;
                        height: 100%;
    
                        .swiper-wrapper {
                            .swiper-slide {
    
                                .card-specialist {
                                    width: 344px;
                                    height: 424px;
    
                                    .top-card-specialist {
                                        display: flex;
                                        justify-content: center;
                                        img {
                                            height: 280px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}