<div class="aside">
  <div class="header__item--search">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 32 32"
      fill="none"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M3 13C3 7.47715 7.47715 3 13 3C18.5228 3 23 7.47715 23 13C23 15.7673 21.8773 18.2705 20.06 20.0821C18.2502 21.8864 15.7561 23 13 23C7.47715 23 3 18.5228 3 13ZM13 1C6.37258 1 1 6.37258 1 13C1 19.6274 6.37258 25 13 25C15.9533 25 18.6587 23.9321 20.7488 22.163L29.2929 30.7071L30.7071 29.2929L22.163 20.7488C23.9321 18.6587 25 15.9533 25 13C25 6.37258 19.6274 1 13 1Z"
        fill="#BFBFBF"
      />
    </svg>
    <input type="text" id="search" name="search" placeholder="Поиск по сайту" />
  </div>
  <nav class="aside__nav">
    <button class="aside__nav--button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        viewBox="0 0 15 15"
      >
        <path
          fill="#1dc3b0"
          d="M7.5 6c-2.5 0-3 2.28-3 3.47a6.149 6.149 0 0 0-1.7.89a2 2 0 0 0-.4 2.78a2.06 2.06 0 0 0 2.8.4a4 4 0 0 1 2.3-.69a4 4 0 0 1 2.3.69a2 2 0 0 0 2.8-.3a1.929 1.929 0 0 0-.226-2.72a1.386 1.386 0 0 0-.074-.06l-.1-.1a8.992 8.992 0 0 0-1.7-.89C10.5 8.29 10 6 7.5 6ZM2.08 4.3a1.58 1.58 0 0 0-.76 2a1.52 1.52 0 0 0 1.61 1.4a1.58 1.58 0 0 0 .76-2a1.52 1.52 0 0 0-1.61-1.4Zm10.85 0a1.58 1.58 0 0 1 .76 2a1.52 1.52 0 0 1-1.61 1.4a1.58 1.58 0 0 1-.76-2a1.52 1.52 0 0 1 1.61-1.4Zm-7.85-3c-.68.09-1 .94-.76 1.87A1.77 1.77 0 0 0 5.93 4.7c.68-.09 1-.94.76-1.87A1.77 1.77 0 0 0 5.08 1.3Zm4.85 0c.68.09 1 .94.76 1.87A1.77 1.77 0 0 1 9.07 4.7c-.68-.08-1-.94-.76-1.87A1.769 1.769 0 0 1 9.93 1.3Z"
        />
      </svg>
    </button>
    <ul class="aside__nav--list">
      <li>
        <a class="nav__list--item" href="services.html">Наши услуги</a>
      </li>
      <li>
        <a class="nav__list--item" href="servicesPrice.html">Стоимость</a>
      </li>
      <li>
        <a class="nav__list--item" href="allEmployees.html">Сотрудники</a>
      </li>
      <li>
        <a class="nav__list--item" href="workSchedule.html">График работы</a>
      </li>
      <li>
        <div class="nav__list--item">
          О клинике
          <button class="drop__down--btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M19 8C19 8 14 13 12 16C10 13 5 8 5 8"
                stroke="#51555A"
                stroke-width="2"
              />
            </svg>
          </button>
        </div>
        <ul class="dropdown__menu">
          <li>
            <a class="dropdowwn__menu--item" href="about.html"
              >Наша миссия</a
            >
          </li>
          <li>
            <a class="dropdowwn__menu--item" href="gallery.html"
              >Фотогалерея</a
            >
          </li>
          <li>
            <a class="dropdowwn__menu--item" href="reviews.html">Отзывы</a>
          </li>
        </ul>
      </li>
      <li>
        <div class="nav__list--item">
          Полезное
          <button class="drop__down--btn2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M19 8C19 8 14 13 12 16C10 13 5 8 5 8"
                stroke="#51555A"
                stroke-width="2"
              />
            </svg>
          </button>
        </div>
        <ul class="dropdown__menu2">
          <li>
            <a class="dropdowwn__menu--item" href="patients.html"
              >Истории пациентов</a
            >
          </li>
          <li>
            <a class="dropdowwn__menu--item" href="article.html">Статьи</a>
          </li>
        </ul>
      </li>
      <li><a class="nav__list--item" href="contacts.html">Контакты</a></li>
    </ul>
  </nav>
  <div class="aside__nav--footer">
    <div class="nav__footer--inner">
      <div class="footer__inner--info">
        <div class="footer__info--title">Работаем для вас</div>
        <div class="footer__info--subtitle">ежедневно и круглосуточно</div>
      </div>
      <button class="footer__inner--btn">Записаться на прием</button>
    </div>
  </div>
</div>
